@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(12, 11, 17);
}
header{
    padding: 20px 20px;
    color: rgb(228, 36, 2);
    font-size: 1.5rem;
    margin-top: 2vh;
    text-align: center;
}


